---
import config from "@config/config.json";
import {Image} from 'astro:assets';

const year = new Date().getFullYear();

import social from "@config/social";

const socialItems = social.networks;
---

<footer>
    <div class="wrapper">
        <div class="flex justify-center md:justify-between items-center pt-8 sm:pt-0 pb-10 border-b border-neutral-100 dark:border-black">
            <div>
                <a href="/" class="logo group" aria-current="page">
                    <figure class="block dark:hidden">
                        <Image
                                src={config.site.logoFooterLight}
                                alt={config.site.title}
                                class="h-6 w-auto opacity-50 group-hover:opacity-80 transition-opacity duration-200"
                                inferSize={true}
                                decoding="async"
                                loading="lazy"
                        />
                    </figure>
                    <figure class="hidden dark:block">
                        <Image
                                src={config.site.logoFooterDark}
                                alt={config.site.title}
                                class="h-6 w-auto opacity-50 group-hover:opacity-80 transition-opacity duration-200"
                                inferSize={true}
                                decoding="async"
                                loading="lazy"
                        />
                    </figure>
                </a>
            </div>
            <!--<div class="social flex space-x-5">
                {
                    socialItems?.map((item) => (
                            <a href={item.url} target="_blank" rel="noopener noreferrer">
                                <figure>
                                    <Fragment set:html={item.svg}/>
                                </figure>
                            </a>
                    ))
                }

            </div>-->
        </div>

        <div class="py-12 border-t border-neutral-300 dark:border-neutral-900 text-center md:text-left">
            <p class="pb-4">
                Este no es un sitio web oficial y no está asociado de ninguna manera con las empresas de Formula 1.
                F1, FORMULA ONE, FORMULA 1, FIA FORMULA ONE WORLD CHAMPIONSHIP, GRAND PRIX y las marcas relacionadas son
                marcas comerciales de Formula One Licensing B.V.
            </p>

            <p>
                Los artículos de este blog se generan de manera experimental utilizando inteligencia artificial. Se
                recomienda verificar la información de manera independiente. No nos hacemos responsables por posibles
                inexactitudes.
            </p>
        </div>

        <div class="text-center md:text-left">&copy; {year}, {config.site.title}.</div>
    </div>
</footer>
