---
import {Image} from 'astro:assets';
import menu from '@config/menu.json';
import config from '@config/config.json';
import HamburgerIcon from '@icons/HamburgerIcon.astro';
import CloseIcon from '@icons/CloseIcon.astro';
import ThemeIcon from '@components/ThemeIcon.astro';

export interface NavigationLink {
    name: string;
    url: string;
}

const {main}: { main: NavigationLink[] } = menu;
---

<header>
    <div class="wrapper">
        <div class="flex justify-between gap-2 sm:gap-4 items-center">
            <div>
                <a href="/" class="logo flex items-center" aria-current="page">
                    <figure class="block dark:hidden">
                        <Image
                                src={config.site.logoLight}
                                alt={config.site.title}
                                class="h-8 md:h-10 w-auto"
                                inferSize={true}
                                decoding="async"
                                loading="lazy"
                        />
                    </figure>
                    <figure class="hidden dark:block">
                        <Image
                                src={config.site.logoDark}
                                alt={config.site.title}
                                class="h-8 md:h-10 w-auto"
                                inferSize={true}
                                decoding="async"
                                loading="lazy"
                        />
                    </figure>
                </a>
            </div>

            <div class="relative order-3 flex md:hidden">
                <!-- navbar toggler -->
                <input id="nav-toggle" type="checkbox" class="hidden"/>
                <label
                        id="show-button"
                        for="nav-toggle"
                        class="order-2 flex cursor-pointer items-center text-neutral-500 md:hidden"
                >
                    <HamburgerIcon/>
                </label>
                <label id="hide-button" for="nav-toggle"
                       class="order-2 hidden cursor-pointer items-center text-neutral-500">
                    <CloseIcon/>
                </label>

                <!-- /navbar toggler -->
                <nav id="nav-menu">
                    <ul class="p-8 md:p-12 text-2xl">
                        {
                            main?.map((menu) => (
                                <li>
                                    <a href={menu?.url}>{menu?.name}</a>
                                </li>
                            ))
                        }
                    </ul>
                </nav>
            </div>

            <ul class="ml-auto hidden items-center gap-6 md:flex lg:flex">
                {
                    main?.map((menu) => (
                            <li>
                                <a href={menu?.url} class="nav-link">
                                    {menu?.name}
                                </a>
                            </li>
                    ))
                }
            </ul>
            {config.features.dark_mode &&
                    <ThemeIcon/>}
        </div>
    </div>
</header>
