---
import NextIcon from '@icons/NextIcon.astro';
import PrevIcon from '@icons/PrevIcon.astro';

const {length, currentPage, firstUrl, prevUrl, nextUrl} = Astro.props;
const paginationList = Array.from({length}, (_, i) => i + 1);
---

<nav class="mt-12">
    <ol class="flex justify-center gap-3 text-xs font-medium">
        {
            prevUrl ? (
                    <li>
                        <a href={prevUrl} class="button-pag">
                            <span class="sr-only">Página anterior</span>
                            <PrevIcon/>
                        </a>
                    </li>
            ) : null
        }
        {
            paginationList?.map((num) => (
                    <li>
                        <a href={`${firstUrl}${num == 1 ? '' : '' + num}`}
                           class:list={[
                               'button-pag',
                               currentPage == num ? 'border-accent bg-accent !text-white dark:border-accent' : ''
                           ]}
                        >
                            {num}
                        </a>
                    </li>
            ))
        }
        {
            nextUrl ? (
                    <li>
                        <a href={nextUrl} class="button-pag">
                            <span class="sr-only">Página siguiente</span>
                            <NextIcon/>
                        </a>
                    </li>
            ) : null
        }
    </ol>
</nav>
