---
import {Image} from "astro:assets";
import FormattedDate from "@components/FormattedDate.astro";
import config from "@config/config.json";
import {slugify} from "@utils/slug";

const {posts} = Astro.props;

type PostType = {
    id: string;
    slug: string;
    body: string;
    collection: string;
    data: {
        title: string;
        description: string;
        metaTitle: string;
        metaDescription: string;
        keywords: string[] | null;
        tags: string[];
        heroImage: string;
        pubDate: Date;
        updatedDate: Date | null;
        categories: string[];
        author: string | null;
        source: string | null;
        sourceUrl: string | null;
    };
};
---
<div class="mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:mx-0 lg:max-w-none">
    {
        posts?.slice(0, config.site.pageSize).map((post: PostType) => (
                <article class="card group">
                    <div class="card-header">
                        {post.data.heroImage && (
                                <a href={`/blog/${post.slug}/`}>
                                    <figure class="w-auto h-auto md:h-[150px] object-cover">
                                        <Image
                                                class="transition duration-500 ease-in-out group-hover:scale-125"
                                                src={post.data.heroImage}
                                                alt={post.data.title}
                                                width={960}
                                                height={480}
                                                decoding="async"
                                                loading="lazy"
                                        />
                                    </figure>
                                </a>
                        )}
                    </div>

                    <div class="card-body">
                        <h2>
                            <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
                        </h2>
                        <p>
                            {post.data.description}
                        </p>
                        <div class="text-xs pt-4 flex items-center gap-x-2 justify-between">
                            <div class="text-neutral-500 dark:text-neutral-400">
                                <FormattedDate date={post.data.pubDate}/>
                            </div>

                            <div>
                                {post.data.categories.slice(0, 2).map((item) => (
                                        <a href={`/categories/${slugify(item)}`} class="category-tag">{item}</a>
                                ))}
                            </div>
                        </div>
                    </div>
                </article>
        ))
    }
</div>
